.git
.gitignore
.idea
.vscode
.DS_Store

**/*.log
**/*.iml

**/node_modules
**/dist
**/coverage
**/target
**/.mvn
**/.venv
**/__pycache__
**/.pytest_cache

logs
logs/
data
data/
services/dts-pg/data
services/dts-pg/data/
plugins
plugins/
worklog
worklog/
