ADMIN_BASE_URL=http://127.0.0.1:18081
PLATFORM_BASE_URL=http://127.0.0.1:18082

OIDC_ISSUER_URI=https://sso.yuzhicloud.com/realms/S10
OIDC_CLIENT_ID=dts-system
OIDC_CLIENT_SECRET=

ADMIN_USERNAME=sysadmin
ADMIN_PASSWORD=sa
PLATFORM_USERNAME=
PLATFORM_PASSWORD=

TEST_API_TOKEN=

VERIFY_TLS=false
