OPMANAGER_IMAGE=dts-opmanager:2.2.3
OPMANAGER_HTTP_PORT=18095
OPMANAGER_HOST_DATA_DIR=/var/lib/dts-opmanager
OPMANAGER_HOST_PACKAGE_DIR=/var/lib/dts-opmanager/packages
OPMANAGER_DOCKER_ENABLED=true
OPMANAGER_PORTAINER_URL=

DTS_STACK_DIR=/opt/dts-stack
